<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cap.cloud_note.dao.NoteShareDao">
	<insert id="saveShare" parameterType="com.cap.cloud_note.entity.NoteShare">
		insert into cn_share values(#{cn_share_id},#{cn_share_title},#{cn_share_body},#{cn_note_id})
	</insert>
	<select id="searchNoteShare" parameterType="Map" resultType="com.cap.cloud_note.entity.NoteShare"> 
		select * from cn_share where cn_share_title like CONCAT('%',#{content},'%') 
								or cn_share_body like CONCAT('%',#{content},'%') limit #{begin},3
	</select>
</mapper>